In [1]:
import numpy as mp
import pandas as pd

In [22]:
# import csv file
my_df = pd.read_csv('dog_data.csv') # Import csv data from external file 'dog_data.csv' (duh)
my_df
# headers are headers from the csv file, row #s are automatically generated

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [23]:
# Count distinct values - descending
my_df['Color'].value_counts()

BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: Color, Length: 72, dtype: int64

In [24]:
# count distinct values - ascending
my_df['Color'].value_counts(ascending = True)

BROWN/LIVER               1
BROWN/FAWN                1
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BLACK/BROWN/GREY          1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: Color, Length: 72, dtype: int64

In [25]:
# Dog names - without NaN
my_df['DogName'].value_counts

<bound method IndexOpsMixin.value_counts of 0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object>

In [26]:
# Dog names - with NaN
my_df['DogName'].value_counts(dropna=False)

LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
RAMBO       1
CHOOKIE     1
AMY         1
DEE DEE     1
GRIFFIN     1
Name: DogName, Length: 1429, dtype: int64

In [27]:
# Get relative frequency - percentage
my_df['Color'].value_counts(normalize=True)

BLACK                   0.139212
BROWN                   0.115947
WHITE                   0.084803
WHITE/BLACK             0.073546
BLACK/BROWN             0.068668
                          ...
BLACK/ORANGE/BRINDLE    0.000375
BROWN/ORANGE            0.000375
BROWN/FAWN              0.000375
BLACK/BROWN/GREY        0.000375
BROWN/LIVER             0.000375
Name: Color, Length: 72, dtype: float64

In [29]:
# Get specific item count
my_df['Color'].value_counts()['WHITE']

226

In [31]:
# Count unique values - size
my_df.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [32]:
# Count unique values - count
my_df.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]

In [33]:
# Get a count of all columns across all columns
my_df.apply(pd.value_counts)

        Breed  Color  DogName  OwnerZip
15003     NaN    NaN      NaN       4.0
15005     NaN    NaN      NaN       5.0
15006     NaN    NaN      NaN       1.0
15007     NaN    NaN      NaN       2.0
15014     NaN    NaN      NaN       2.0
...       ...    ...      ...       ...
ZORRO     NaN    NaN      1.0       NaN
ZURI      NaN    NaN      1.0       NaN
ZUZU      NaN    NaN      2.0       NaN
stella    NaN    NaN      1.0       NaN
suzie     NaN    NaN      1.0       NaN

[1783 rows x 4 columns]