In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [5]:
my_data = randn(4,3) # 4 rows with 3 columns
my_rows = ['A', 'B', 'C', 'D']
my_cols = ['Monday', 'Tuesday', 'Friday']

In [6]:
# Create a Dataframe (kind of like an Excel spreadsheet)
my_df = pd.DataFrame(my_data, my_rows, my_cols)  # Shift+Tab to see required/optional fields
my_df

     Monday   Tuesday    Friday
A -1.859903 -0.421967  0.052635
B  0.261465 -0.467493 -1.523447
C -0.514519 -1.364404  2.215799
D -0.374290  0.034021  0.171888

In [7]:
# import csv file
my_df2 = pd.read_csv('dog_data.csv') # Import csv data from external file 'dog_data.csv' (duh)
my_df2
# headers are headers from the csv file, row #s are automatically generated

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [8]:
# Pull out rows
my_df2.loc[0] # 'loc' = 'location'

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [15]:
# Pull out multiple rows
my_df2.loc[[0, 5, 8]]

               Breed        Color     DogName  OwnerZip
0           COCKAPOO        BROWN     CHARLEY     15236
5   SCOTTISH TERRIER        BLACK      BAILEY     15129
8  SHETLAND SHEEPDOG  WHITE/BROWN  ZOE VITSAS     15238