In [1]:
import numpy as np
import pandas as pd
# import csv file
my_df = pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [2]:
# Grab row method 1 - location
my_df.loc[2] # if row headers were strings, would call my_df.loc['string']

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [3]:
# Grab row method 2 - index location
my_df.loc[2]  # looks the same because row headers are numbers

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [4]:
# Specific points (row and column)
# my_df.loc['row', 'column']
my_df.loc[1, 'DogName']

'TACODA'

In [5]:
# Subsets (several points from several rows)
# my_df.loc[['row', 'row'], ['column', 'column']]
my_df.loc[[1, 3], ['DogName', 'Breed']]

  DogName         Breed
1  TACODA  GER SHEPHERD
3   ARROW         MIXED